*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared Style */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    line-height: 150%;
    cursor: pointer;
}
.section-title{
    font-size: 42px;
    font-weight: 700;
    color: #252432;
}

/* Header Section Styles */
.header{
    width: 1440px;
    height: 700px;
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    margin: 0 auto;
}

/* Nav Section Styles */
.nav{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.logo{
    font-size: 34px;
    color: #4E47FF;
    font-weight: bold;
}

/* Hero Section Styles */
.hero{
    text-align: center;
    margin: 152px 0;
}
.hero-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 36px;
    color: #252432;
}

/* Main Section Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* Action Section Styles */
.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    padding: 116px 0;
}
.action-description{
    color: #6e6b94;
    font-size: 24px;
    line-height: 30px;
    margin: 24px 0;
}
.action img{
    border-radius: 48px;
}

/* Productive Section Styles */
.productive{
    background-color: #ceccff;
    padding: 50px 80px;
    border-radius: 24px;
    text-align: center;
}
.items{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.item-title{
    font-size: 80px;
    color: #4E47FF;
    font-weight: 700;
}
.item-description{
    font-size: 20px;
    color: #808080;
}

/* Review Section Styles */
.users-review{
    margin-top: 136px;
}
.user-heading{
    margin-bottom: 50px;
    text-align: center;
}
.users-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.users-items{
    padding: 24px;
    border-radius: 14px;
}
.img{
    margin-bottom: 24px;
}
.user-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -2%;
    color: #1E1E1E;
    margin-bottom: 8px;
}
.user-comment{
    line-height: 140%;
    color: #1E1E1E;
    font-size: 16px;
}
.user-details{
    display: flex;
    gap: 12px;
    margin-top: 24px;
}
.user-details img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.name{
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
    color: #757575;
}
.date{
    font-size: 16px;
    line-height: 140%;
    color: #B3B3B3;
}

/* Focus Section Styles */
.focus{
    margin-top: 136px;
    padding: 70px 0;
    text-align: center;
}
.focus-title{
    font-size: 50px;
    font-weight: bold;
    line-height: 120%;
    color: #000000;
    text-align: center;
}
.focus-description{
    font-size: 16px;
    line-height: 140%;
    color: #808080;
    margin: 20px 0;
}
.focus-btn{
    font-weight: 500;
    margin-bottom: 20px;
}
.focus img{
    border-radius: 48px;
}

/* News Letter Section Styles */
.news-letter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 92px;
    padding: 70px 0;
}
.letter-title{
    font-size: 98px;
    letter-spacing: 120%;
    color: #000000;
}
form label, form input, form textarea{
    display: block;
    width: 500px;
}
form label{
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 10px;
    color: #000000;
}
form input, textarea{
    padding: 32px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    font-size: 20px;
    line-height: 150%;
    color: #808080;
}

